@import '../../assets/styles/themeColor.less';
@infow: 400px;
@headh: 114px;

.ant-input {
  background-color: rgba(119, 119, 119, 0.2) !important;
}

// 西安首页
.home {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  //搜索
  .searchInput {
    position: absolute;
    top: @headh;
    left: 420px;
    right: 470px;
    z-index: 9;
  }

  // 地图容器
  .mapBox {
    height: 100vh;

    .anchorBL {
      visibility: hidden;
    }

    .BMap_Marker {
      img {
        width: 100%;
      }
    }
  }

  // 左边设备状态
  .home-state {
    width: @infow;
    // height: 100vh;
    background: @layoutbgcolor1;
    position: absolute;
    padding-left: 20px;
    z-index: 10;
    margin-top: @headh;
    height: 80vh;

    // 设备列表
    .state-equ {
      min-height: 200px;

      .iconfont {
        right: 4px;
      }

      .task {
        padding: 20px;

        .task-info {
          height: 40px;
          line-height: 40px;
          background: url(../../assets/images/home/taskbg1.png) no-repeat center;
          background-size: 100% 100%;
          margin-bottom: 20px;
          text-indent: 70px;
          position: relative;

          .info-label {
            margin-right: 4px;
          }

          .info-value {
            color: #e5ff55;
            font-size: 20px;
            padding-left: 10px;
          }

          ::after {
            content: '';
            width: 60px;
            height: 60px;
            position: absolute;
            left: 15px;
            top: 0;
          }
        }

      }
    }

    .state-echarts {
      height: 240px;
    }
  }

  .rightBox {
    width: @infow;
    margin-top: @headh;
    margin-right: 40px;
    height: 80vh;
    background: @layoutbgcolor1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    .baseInfo {
      display: flex;
      padding: 10px;
      padding-top: 20px;
      justify-content: space-between;


      .base {
        font-size: 20px;
      }

      .base_more {
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
      }

      .base_more:hover {
        color: @primaryColor;
      }

    }

    .warninfo {
      display: flex;
      justify-content: space-between;

      .temperature {
        width: 48%;
        height: 200px;
        background: url(../../assets/images/home/equ-statebg5.png) no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        cursor: pointer;
        color: #bccef3;
        position: relative;
        padding-top: 32%;
        font-weight: bold;
        font-size: 18px;

        &::after {
          content: '';
          width: 80px;
          height: 55px;
          position: absolute;
          top: 22%;
          left: 50%;
          transform: translateX(-50%);
          background: url(../../assets//images/control/stuUrl/doing.png) no-repeat center;
          background-size: 100% 100%;
        }
      }

      .humidness {
        width: 48%;
        height: 200px;
        background: url(../../assets/images/home/equ-statebg5.png) no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        cursor: pointer;
        color: #bccef3;
        position: relative;
        padding-top: 32%;
        font-weight: bold;
        font-size: 18px;

        &::after {
          content: '';
          width: 80px;
          height: 55px;
          position: absolute;
          top: 22%;
          left: 50%;
          transform: translateX(-50%);
          background: url(../../assets//images/control/stuUrl/opreUrl.png) no-repeat center;
          background-size: 100% 100%;
        }
      }
    }

    .monitoring {
      border-radius: 10px;
      height: 300px;
      border: solid 1px @inputBorderColor; // 输入框边框线;
      margin: 10px;
    }

    .forewarning {
      margin: auto;
      padding: 10px;
      text-align: center;

      .warning_item {
        padding-top: 10px;
        height: auto;

        .forewarning_Text {
          font-size: 16px;
          overflow: hidden;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          color: #ff4d4f;
          font-family: -moz-initial;
          font-weight: bold;
        }

        .forewarning_Button {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .buttonClass {
            margin-right: 10px;
          }
        }

      }
    }
  }

  .realtime {
    background: url(../../assets/images/home/equ-statebg4.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    height: 200px;

    .realtime-info {
      text-align: center;
      width: 33%;
      padding-top: 25px;

      .infoLabel {
        background: url(../../assets/images/home/equ-statebg2.png) no-repeat center;
        background-size: 100% 100%;
        height: 80px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .label {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 18px;
          line-height: 40px;
          font-family: -moz-initial;
          font-weight: bold;
        }
      }

      .info-value {
        font-weight: bold;
        margin-top: 5px;
        color: #47c3f7;
      }

    }
  }


}